<div class="top-container">
  <div class="container">
    <form
      #addProjectDetails="ngForm"
      (ngSubmit)="addProject(addProjectDetails.value)"
    >
      <h2>Add New Project</h2>

      <div class="label-input">
        <span>Upload Image</span>
        <input
          type="file"
          (change)="onImageSelected($event)"
          accept="image/*"
          class="imageSelector"
          name="image"
        />
      </div>

      <div *ngIf="selectedImage" class="image-preview">
        <p>Preview:</p>
        <img [src]="selectedImage" alt="Preview" width="200" />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>Project Name</span>
        <input
          class="input"
          type="text"
          name="name"
          required
          placeholder="Enter project name"
          ngModel
        />
      </div>

      <div class="label-input">
        <span>Description</span>
        <textarea
          name="description"
          placeholder="Project Description"
          class="input"
          rows="5"
          ngModel
        ></textarea>
      </div>

      <div class="buttons">
        <button type="button" class="cancelButton" (click)="cancelAddition()">
          Cancel
        </button>
        <button type="submit" class="addProjectButton">Add Project</button>
      </div>
    </form>
  </div>
</div>
