<div class="button">
  <button (click)="createCategory()">Create Category</button>
</div>

<div class="table-container">
  <div class="table-header">
    <div class="header-cell">Icon</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Category</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Description</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Action</div>
  </div>
  <hr style="border: 0.3px solid rgb(228, 225, 225)" />

  <!-- Data Rows
  <div class="table-row" *ngFor="let category of categories">
    <div class="cell icon-cell"></div>
    <div class="cell">{{ category.name }}</div>
    <div class="cell description-cell">{{ category.description }}</div>
    <div class="cell action-cell">
      <button class="action-btn view"><i class="fa fa-eye"></i></button>
      <button class="action-btn edit"><i class="fa fa-pencil"></i></button>
      <button class="action-btn delete"><i class="fa fa-trash"></i></button>
    </div>
  </div> -->
</div>
