<div class="top-container">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
      <h2>Welcome Back!</h2>
      <p>Please Login to your account</p>

      <div class="label-input">
        <span><span style="color: red">*</span>Email</span>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Enter your email"
          [(ngModel)]="loginUserDetails.email"
        />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>Password</span>
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Enter your password"
          [(ngModel)]="loginUserDetails.password"
        />
      </div>

      <div class="label-input">
        <span class="forgotPassword"
          ><a routerLink="/forgotPassword">Forgot Password?</a></span
        >
      </div>

      <div style="display: flex; flex-direction: column">
        <button class="loginButton">Login</button>
        <span class="register"
          >Don't have an account? <a routerLink="/register">Register</a></span
        >
      </div>
    </form>
  </div>
</div>
