* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px rgb(230, 227, 227);
}

.label-input {
  display: flex;
  flex-direction: column;
}
.input {
  height: 28px;
  margin: 5px;
  border-radius: 8px;
  border: 0.5px solid rgb(233, 233, 233);
  padding: 3px;
  padding-left: 8px;
}
.input:focus-visible {
  border: 0.5px solid;
  border-color: rgb(0, 132, 255);
}
span {
  color: rgb(44, 43, 43);
  font-size: 13px;
  margin-top: 14px;
  margin-left: 5px;
  margin-bottom: 4px;
}
h2 {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
}
p {
  text-align: center;
  color: rgb(148, 149, 150);
  font-size: 14px;
  margin-bottom: 20px;
}
.loginButton {
  border: 0.5px solid rgb(42, 157, 250);
  border-radius: 8px;
  height: 35px;
  margin: 5px;
  margin-top: 15px;
  background-color: rgb(14, 131, 226);
  font-size: 14px;
}
.loginButton:hover {
  cursor: pointer;
  opacity: rgba(255, 255, 255, 0.178);
}
.loginButton a {
  color: white;
}
.register {
  text-align: center;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: rgb(37, 103, 243);
}

.forgotPassword {
  text-align: end;
  margin-right: 10px;
  font-size: 12px;
}
