<div class="top-container">
  <div class="container">
    <form
      #forgotPasswordForm="ngForm"
      (ngSubmit)="userChangePassword(forgotPasswordForm.value)"
    >
      <h2>Change Your Password!</h2>
      <p>Create a strong new password for your account.</p>

      <div class="label-input">
        <span><span style="color: red">*</span>Old Password</span>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Enter your old password"
          ngModel
        />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>New Password</span>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Enter your new password"
          ngModel
        />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>Confirm New Password</span>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Confirm your new password"
          ngModel
        />
      </div>

      <div style="display: flex; flex-direction: column">
        <button class="changePassword" routerLink="/login">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
