.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchBar input {
  width: 200px;
  border: 0.5px solid rgb(197, 197, 197);
  height: 25px;
  border-radius: 5px;
  padding: 1px 10px;
  font-size: 14px;
}

.add-sku-btn {
  border: 0.5px solid rgb(42, 157, 250);
  border-radius: 8px;
  height: 35px;
  background-color: white;
  color: rgb(14, 131, 226);
  font-size: 14px;
  padding: 0 20px;
}

.add-sku-btn:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.btn-secondary {
  background-color: #ffffff;
  color: rgb(182, 180, 180);
  font-size: 14px;
  width: 150px;
  border: 0.5px solid rgb(194, 193, 193);
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  height: 30px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  top: 35px;
}

.dropdown-item {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown-divider {
  background-color: #d5d8d5;
  height: 1px;
  border: none;
  margin: 5px 0;
}

.table-header {
  display: flex;
  background-color: #f8f8f8;
  font-weight: 500;
  font-size: 14px;
  color: #5e5b5b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
}

.header-cell {
  padding: 10px;
  flex: 1;
  text-align: left;
}

.vertical-divider {
  display: grid;
  height: 25px;
  margin-top: 7px;
  border: 0.3px solid rgb(228, 225, 225);
}
.date-picker {
  font-size: 12px;
  width: 200px;
  height: 70px;
}
