<div class="top-container">
  <div class="container">
    <form
      #forgotPasswordForm="ngForm"
      (ngSubmit)="userForgotPasswordEmail(forgotPasswordForm.value)"
    >
      <h2>Verify Email</h2>
      <p>Enter your email to recieve an OTP</p>

      <div class="label-input">
        <span><span style="color: red">*</span>Email</span>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Enter your email"
          ngModel
        />
      </div>

      <div style="display: flex; flex-direction: column">
        <button class="sendOTP">Send OTP</button>
        <span class="login"
          >Already have an account <a routerLink="/login">Log in here</a></span
        >
      </div>
    </form>
  </div>
</div>
