<div class="button">
  <div class="searchBar">
    <input
      type="text"
      name="serchBar"
      #searchBar
      placeholder="Search by SKU Name"
    />
  </div>
  <button (click)="addSKU()">Add SKU</button>
</div>

<div class="table-container">
  <div class="table-header">
    <div class="header-cell">Icon</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Name</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Sku id</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Description</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Unit</div>
    <hr class="vertical-divider" />
    <div class="header-cell">HxWxD</div>
    <hr class="vertical-divider" />
    <div class="header-cell">Actions</div>
  </div>
  <hr style="border: 0.3px solid rgb(228, 225, 225)" />
</div>
