<div class="top-container">
  <div class="container">
    <form #registerForm="ngForm" (ngSubmit)="registerUser()">
      <h2>Create an Account</h2>
      <p>Sign up to get started</p>
      <div class="label-input">
        <span><span style="color: red">*</span>Name</span>
        <input
          class="input"
          type="text"
          name="name"
          placeholder="Enter your full name"
          [(ngModel)]="userRegisterDetails.name"
        />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>Email</span>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Enter your email"
          [(ngModel)]="userRegisterDetails.email"
        />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>Password</span>
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Enter your password"
          [(ngModel)]="userRegisterDetails.password"
        />
      </div>

      <div class="label-input">
        <span><span style="color: red">*</span>Confirm Password</span>
        <input
          class="input"
          type="password"
          name="confirmPassword"
          placeholder="Re-enter your password"
          [(ngModel)]="userRegisterDetails.confirmPassword"
        />
      </div>

      <div style="display: flex; flex-direction: column">
        <button class="registerButton">Register</button>
        <span class="login"
          >Already have an account? <a routerLink="/login">Log in here</a></span
        >
      </div>
    </form>
  </div>
</div>
